<h1>PostcodeChecker</h1>
<%= form_with url:postcode_checker_path, local: true do |form| %>
  <label for="postcode">Postcode:</label><br>
  <input type="text" id="postcode" name="postcode"><br>
  <input type="submit" value="Submit">
<% end %>